/* === FONTS === */
@font-face {
    font-family: 'ChicagoFont';
    src: url('https://dangasson.github.io/Resources/Fonts/ChicagoFLF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* === VARIABLES === */
$screen-text: #383829;
$btn-section: #727272;
$menu-text: #9e9e9e;
:root {
    --range-progress: 0%;
    --volume-progress: 50%;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'ChicagoFont', sans-serif;
}

/* === App === */
.app  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* === Text === */
h1 {
    color: $screen-text;
    transform: translateY(-100%);
    text-align: center;
    @media (max-width: 500px) {
        font-size: calc(6000vw/1000);
        transform: translateY(-150%);
    }
}

/* === Device === */
.ipod {
    width: 240px;
    height: 400px;
    border-radius: 20px;
    padding: 20px 15px;
    background: linear-gradient(45deg, #ececec, #FFFFFF);
    box-shadow: inset 5px -5px 10px 0 #8b8b8b;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* === Screen === */
    .screen {
        color: $screen-text;
        width: 85%;
        height: 135px;
        border-radius: 5px;
        background: linear-gradient(225deg, #a2a29b, #b8b8ad);
        box-shadow: inset 0px 0px 3px 3px rgb(114, 114, 114);
        padding: .5rem;

        .topbar {
            border-bottom: 2px solid $screen-text;
            font-size: 12px;
            padding-bottom: 2px;
            text-align: center;
            position: relative;

            .fa-play {
                position: absolute;
                left: 0;
                top: 2px
            }

            svg {
                fill: $screen-text;
                position: absolute;
                transform: scale(.25) translate(115px, -100px);
                // top: -55px;
                // right: -137px;
            }
        }

        .nbTrack {
            font-size: 11px;
            margin-top: 3px;
        }

        .infos {
            text-align: center;
            font-size: 13px;
            margin-top: 2px;
            p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        /* === Progress Bar === */
        .progress {
            display: flex;
            justify-content: center;
            position: relative;
            margin-top: 8px;

            &.d-none {
                display: none;
            }

            &.d-flex {
                display: flex;
            }

            // Text infos
            .time,
            .volume {
                font-size: 11px;
                position: absolute;
                bottom: -17px;
                &.current {
                    left: 4px;
                }
                &:not(.current) {
                    right: 4px;
                }
            }
            .volume {
                left: 50%;
                transform: translateX(-11%);
            }

            // Both progress--bar
            &.progress--bar,
            &.volume--bar {
                input[type=range] {
                    width: 95%;
                    height: 8px;
                    border: 1px solid $screen-text;
                    border-radius: 5px;
                    -webkit-appearance: none;
                    appearance: none;
                    background: transparent;
                    pointer-events: none;
                    position: relative;
                    overflow: hidden;

                    // Cursor
                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                    }
                    &::-webkit-slider-thumb,
                    &::-ms-thumb {
                        width: 0;
                        height: 0;
                    }
                    &::-moz-range-thumb {
                        width: 0;
                        height: 0;
                        border: none;
                    }
            }

            // Progress, I couldn't put the ::before on the input because of Firefox
            &::before {
                content: '';
                background: $screen-text;
                height: 6px;
                border-radius: 5px 0 0 5px;
                width: var(--range-progress);
                position: absolute;
                left: 5px;
                bottom: 1px;
            }

            &.progress--bar {
                input[type=range] {
                    --range-progress: 0;
                }
                // Progress
                &::before {
                    width: var(--range-progress);
                }
            }
            &.volume--bar {
                input[type=range] {
                    --volume-progress: 50%;
                }
                // Volume
                &::before {
                    width: var(--volume-progress);
                }
            }
        }
    }
    }

    /* === Navigation === */
    .controls {
        margin-top: 1.4rem;
        width: 190px;
        height: 190px;
        border-radius: 50%;
        background: #fdfdfd;
        box-shadow: inset 5px -5px 7px #9f9f9f;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        svg {
            position: absolute;
            text {
                font-family: "Arial";
                font-size: 120%;
                font-weight: bold;
                fill: $menu-text;
            }
            path {
              fill: transparent;
            }
        }

        &::before,
        &::after {
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            background-color: $btn-section;
            z-index: 0;
        }

        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(135deg);
        }

        .prev,
        .next,
        .play {
            cursor: pointer;
            position: absolute;
            z-index: 20;
            font-size: 8px;
            i {
                color: $menu-text;
            }
        }

        .menu {
            cursor: not-allowed;
        }

        .prev,
        .next {
            top: 50%;
            transform: translateY(-50%);
            padding: 20px 0;
            &::after {
                content: '';
                display: block;
                background-color: $menu-text;
                width: 2px;
                height: 6px;
                position: absolute;
                top: 50%;
                right: -2px;
                transform: translate(50%, -50%);
            }
        }
        .prev {
            left: 7px;
            transform: rotate(180deg) translateY(50%);
        }
        .next {
            right: 7px;
        }

        .play {
            bottom: 7px;
            padding: 0 25px;
            .fa-play {
                margin-right: 2px;
            }
        }

        .btn {
            &--rolling {
                position: relative;
                z-index: 10;
                width: 147px;
                height: 147px;
                border-radius: 50%;
                background: linear-gradient(225deg, #E7E7E7, #FFFFFF);
                border: 1px solid #5E5E5E;
                box-shadow: 3px -3px 15px #9f9f9f;

                display: flex;
                justify-content: center;
                align-items: center;
            }

            &--center {
                position: relative;
                z-index: 10;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-image: radial-gradient(farthest-corner at -25% 75%, #9f9f9f 0%, #FFF 60%);
                border: 1px solid #8e8e8e;
                z-index: 2;
                cursor: pointer;
                pointer-events: auto;
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-image: radial-gradient(farthest-corner at 90% -10%, #9f9f9f 0%, #FFF 60%);
                    opacity: 0;
                    z-index: 10;
                    transition: opacity .1s linear;
                }
                &.pressed::before {
                    opacity: 1;
                }
            }
        }

        // Mouse animation + react-transition-group
        .mouse--animation {
            transform: translateY(65%) scale(0.15);
            &-enter {
                opacity: 0;
                &-active {
                    opacity: 1;
                    transition: opacity .2s ease-in-out;
                }
            }
            &-exit {
                opacity: 1;
                &-active {
                    opacity: 0;
                    transition: opacity .2s ease-in-out;
                }
            }
            path {
                fill: $screen-text;
                &#wheel {
                    animation: mouseScroll .5s ease-in-out infinite alternate;
                }
            }
        }
    }
}

/* === ANIMATIONS === */
@keyframes mouseScroll {
    0% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(5%);
    }
}